.divBlock{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: aqua;
    color: black;
    margin: auto;
}
.menuBlock ul{
    display: flex;
    width: 300px;
    justify-content: space-around;
    align-items: center;
}

.menuBlock ul li a{
    text-decoration: none;
    color: blue;
}
.menuBlock ul li{
    list-style: none;
}
img{
    height: 50px;
    width: 200px;
    padding: 20px;
}